<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/navigation.css">

<div class="row d-flex justify-content-start align-items-center flex-wrap header">
    <div class="col-8 d-flex justify-content-start align-items-center text-light">
        <h3 class="size pt-3 ms-4">STAR</h3>
    </div>
    <div>
        <h1 class="text-danger text-center mt-5">Page Not Found!</h1>
    </div>
</div>