<link rel="stylesheet" href="css/bootstrap.css">

<style>
    .btnn {
        text-decoration: none;
        font-size: 1.1rem;
        margin-top: 1rem;
        color: rgb(255, 255, 255);
        
    }
    .btnn:hover {
        color: rgb(141, 8, 8);
    }
    
    @media (max-width: 850px) {
        .btnn{
            font-size: 0.9rem;
        }
    }
</style>

<div>
    <form class=" d-flex align-items-center justify-content-end" action="/logout" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn btnn link-success" type="submit">Logout</button>
    </form>
</div>