<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/navigation.css">


<div class="row d-flex justify-content-between flex-wrap header">
    <div class="col-8 d-flex justify-content-start align-items-center text-light">
        <h3 class="size ms-3">STAR</h3>
    </div>
    <div class="logout col-4">
      <%- include('./logout.ejs') %>
    </div>
</div>